@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body{
    font-family: 'Inter', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 0px;
    box-shadow: 2px 1px 2px #eee;
}

.nav-items{
    display: flex; 
    justify-content: space-evenly;
}

.nav-items >div{
    padding: 20px;
    padding-top: 0px;
    color: #666;
    cursor: pointer;
}
.nav-items > div:hover{
    color: rgb(5, 84, 174);
}

.hero{
    display: flex; 
    justify-content: center;
    margin-top: 60px;
}

h1{
    font-size: 2.75rem;
    margin-bottom: 0px;
    font-style: bold;
}

h1,h2{
    color: #424242;
    font-weight: 400;
}

h2{
    font-size: 1.25rem;
}


.btn{
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    padding: 10px 30px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    margin-top: 15px;
}

.btn:hover{
    background: #222;
    color: #fff;
}
    